<div class="container-fluid" style="background: url(https://i.imgur.com/JJhpnjR.png) no-repeat fixed top right; height: 300px; position: relative;" >
    <div style="top: 0;left: 0;right: 0;bottom: 0;position: absolute;background: linear-gradient(rgba(0,0,0,0) 61%, rgba(0,0,0, .6));"></div>
    <div style="bottom:0; position: absolute;">
        <h2 style="color: #fff; text-rendering: optimizelegibility; text-shadow: 0 0 3px rgba(0,0,0,.8);">小穹</h2>
        <p class="lead" style="color: #fff; text-rendering: optimizelegibility; text-shadow: 0 0 3px rgba(0,0,0,.8);">前進吧！！高捷少女</p>
    </div>    
</div>

<div class="container-fluid">
    <p class="text-right">圖片來源：前進吧！高捷少女 繪師：緋華</p>
    <!-- <button type="button" class="btn btn-light">&lt; 回列表</button> -->
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="material-icons">person_pin</i>角色檔案</h5>

                    <p>BIRTHDAY. 10 / 11</p>
                    <p>HEIGHT. 163</p>
                    <p>WEIGHT. 45.625</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="material-icons">info</i>角色簡介</h5>
                    外表看似高嶺之花，一旦遇到感興趣的人事物就會變得相當主動。私底下是個善於交際，平易近人的女孩子。特別討厭缺乏衛生，在捷運裡吃東西的人。<br/>
                    <br/>
                    據說非常在意自己的體重....
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="material-icons">info</i>PIXIV</h5>

                    工程中...
                </div>
            </div>
        </div>
    </div>
</div>

