<div class="row">
    <div class="col-sm-3">
        <character-item
            displayName="小穹"
            group="前進吧！高捷少女 (一期生)"
            avatarFileName="Sora.png"
            tags="高雄,大眾運輸">
        </character-item>
    </div>
    <div class="col-sm-3">
        <character-item
            displayName="艾米莉亞"
            group="前進吧！高捷少女 (一期生)"
            avatarFileName="Emilia.png"
            tags="高雄,大眾運輸">
        </character-item>
    </div>
    <div class="col-sm-3">
        <character-item
            displayName="婕兒"
            group="前進吧！高捷少女 (一期生)"
            avatarFileName="Ann.png"
            tags="高雄,大眾運輸">
        </character-item>
    </div>
    <div class="col-sm-3">
        <character-item
            displayName="耐耐"
            group="前進吧！高捷少女 (一期生)"
            avatarFileName="Nana.png"
            tags="高雄,大眾運輸">
        </character-item>

    </div>
</div>
